[flake8]
max-line-length = 160
exclude = 
    .git,
    __pycache__,
    venv,
    migrations,
    *tests*,
    *management/commands*,
    *fixtures*
ignore = E203, W503, E265, W293, W292, E501, F401, F841, E226, F541, E712
