# ==========================================
# Banco de Dados
# ==========================================
MYSQL_USER=${MYSQL_USER:-sqlutions}
MYSQL_PASSWORD=${MYSQL_PASSWORD:-senha_padrao}
MYSQL_DATABASE=${MYSQL_DATABASE:-api_db}
MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-senha_root_padrao}

# ==========================================
# Backend
# ==========================================
DB_HOST=${DB_HOST:-custom-mysql}
DB_PORT=${DB_PORT:-3306}

# Descomente e mude para true se desejar popular o banco de dados dinamicamente no deploy
RUN_SEED=${RUN_SEED:-true}

# Chave de criptografia do Django
DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY:-chave_django}

# ==========================================
# Frontend 
# ==========================================
# Define qual branch do repositório do frontend o Docker deve baixar e compilar
FRONTEND_BRANCH=${FRONTEND_BRANCH:-develop-1}

# URL para o Next.js se comunicar com o Django localmente
NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL:-http://localhost:8000}
