# ==========================================
# Banco de Dados
# ==========================================
POSTGRES_USER=${POSTGRES_USER:-sqlutions}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-senha_padrao}
POSTGRES_DB=${POSTGRES_DB:-api_db}

# ==========================================
# Backend
# ==========================================
DB_HOST=${DB_HOST:-postgres}
DB_PORT=${DB_PORT:-5432}

# Descomente e mude para true se desejar popular o banco de dados dinamicamente no deploy
RUN_SEED=${RUN_SEED:-true}

# Chave de criptografia do Django
DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY:-chave_django}

# ==========================================
# Frontend 
# ==========================================
# Define qual branch do repositório do frontend o Docker deve baixar e compilar
FRONTEND_BRANCH=${FRONTEND_BRANCH:-develop-1}

# URL para o Next.js se comunicar com o Django localmente
NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL:-http://localhost:8000}
