asgiref==3.11.1
djangorestframework>=3.15,<4.0
Django==5.2.14
django-cors-headers==4.9.0
django-seed==0.3.1
djangorestframework==3.17.1
Faker==40.19.1
gunicorn==26.0.0
psycopg[binary]==3.2.9
numpy==2.4.6
packaging==26.2
pandas==3.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
six==1.17.0
sqlparse==0.5.5
toposort==1.10
tzdata==2026.2
django-prometheus==2.3.1
pytest==9.0.2
pytest-cov==7.1.0
pytest-django==4.12.0
locust==2.33.0